$colorPrimary: 		#000;
$colorSecondary:	#fff;
$colorAlert:		#f00;
$colorHelper:		#333;
$font:				Helvetica, Arial, sans-serif;

#clickweather {
	background: #efefef;
	border-radius: 15px;
	box-shadow: 0 0 60px #bbb;
	color: $colorPrimary;
	font: normal 12px $font;
	height: 65px;
	margin: 50px auto;
	padding: 20px;
	width: 500px;

	div {
		float: left;
		padding: 0 15px;
	}

	.w-city {
		font-size: 42px;
		font-weight: 100;
	}

	.w-desc {
		display: block;
		font-size: 14px;
		text-transform: capitalize;
	}

	.w-temp {
		float: right;
		font: 100 48px $font;

		&:after {
			font: normal 40px/1 'weathericons';
			float: right;
		}
	}
}

@import "weather-icons"