$colorPrimary: 		#000;
$colorSecondary:	#fff;
$colorAlert:		#f00;
$colorHelper:		#333;
$font:				Helvetica, Arial, sans-serif;

.left { float: left }
.right { float: right }

#clickweather {
	background: #efefef;
	border-radius: 15px;
	box-shadow: 0 0 60px #bbb;
	color: $colorPrimary;
	font: normal 12px $font;
	height: 65px;
	margin: 50px auto;
	padding: 20px;
	width: 500px;

	div {
		padding: 0 15px;
	}

	.w-city {
		font-size: 42px;
		font-weight: 100;
	}

	.w-desc {
		display: block;
		font-size: 14px;
		text-transform: capitalize;
	}

	.w-temp {
		float: right;
		font: 100 48px $font;

		&:after {
			font: normal 40px/1 'weathericons';
			float: right;
		}
	}

  ul {
    clear: both;
    float: right;
    list-style: none;
    li {
      float: left;
      margin:0 15px 0 0;
      div .wi {
        float:roght;
        font-size:14px;
      }
    }
  }
}

@import "weather-icons"