<!DOCTYPE html>
<html lang="pt-BR" ng-app="clickWeatherWidget">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="user-scalable=yes, width=980">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>OpenWeather API</title>

	<!-- inject:css -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:700,500,300,100' rel='stylesheet' type='text/css'>
	<!-- endinject -->

	<!-- inject:js -->
	<!-- endinject -->
	
</head>
<body>

<div cb-widget-weather city="Bogota" lang="pt" unit="metric"></div>

<div cb-widget-weather city="London" lang="pt" unit="imperial"></div>

<div cb-widget-weather city="Rio de Janeiro" lang="pt" unit="metric"></div>

</div>
</body>
</html>