<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="user-scalable=yes, width=980">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>OpenWeather API</title>

	<!-- inject:css -->
	<!-- endinject -->
	
</head>
<body>

<aside id="weather">
	<span id="w_title"></span>
	<span id="w_temperature"></span>
	<span id="w_description"></span>
</aside>

</body>

<!-- inject:js -->
<!-- endinject -->

</html>